<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gullakh.gullakhandroid" >

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.gullakh.gullakhandroid.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.gullakh.gullakhandroid.permission.C2D_MESSAGE" />

    <application
        android:name=".GlobalData"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.gullakh.gullakhandroid" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreensActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label=" Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterPageActivity"
            android:label="Sign Up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoogleCardsMediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StickyListHeadersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInPageActivity"
            android:label="Login Page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfileActivity"
            android:label="My Profile "
            android:screenOrientation="portrait" />
        <activity
            android:name=".WheelViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListView_Click"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Car_type_questn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpandableListViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonalLoanMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Your_Info_Questn"
            android:label="@string/title_activity_questionier2" />
        <activity
            android:name=".Loan_amt_questn"
            android:label="@string/title_activity_cartypes__questn" />
        <activity
            android:name=".Emp_type_Qustn"
            android:label="" />
        <activity
            android:name=".Salaryed_NetSalary"
            android:label="@string/title_activity_salaryed__net_salary" />
        <activity
            android:name=".EMI_questn"
            android:label="@string/title_activity_emi_questn" />
        <activity
            android:name=".DateOfBirth_questn"
            android:label="@string/title_activity_date_of_birth_questn" />
        <activity
            android:name=".Filter"
            android:label="@string/title_activity_filter" />
        <activity
            android:name=".signin"
            android:label="@string/title_activity_signin" />
        <activity
            android:name=".cl_car_gender"
            android:label="Gender" />
        <activity
            android:name=".cl_car_make"
            android:label="Select Cars"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".cl_car_residence"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".cl_salary_mode2"
            android:label="Salaried Bank"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".cl_car_residence_type"
            android:label="Select Residence"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".cl_car_salaried"
            android:label="Salaried" />
        <activity
            android:name=".cl_car_selfempbusiness"
            android:label="Self Employed-Business" />
        <activity
            android:name=".cl_car_selfempbusinesprofs"
            android:label="Self Employed Professional" />
        <activity
            android:name=".Car_Loan_PAT"
            android:label="@string/title_activity_car__loan__pat" />
        <activity
            android:name=".CarLoan_Depreciation"
            android:label="@string/title_activity_car_loan__depreciation" />
        <activity
            android:name=".cl_salary_mode1"
            android:label="Salary Deposited to" />
        <activity
            android:name=".SearchAdapter"
            android:label="@string/title_activity_search_page" />
        <activity android:name=".cl_car_yearofmft" />
        <activity android:name=".signinPrepage" />
        <activity android:name=".UploadDocument1" />
        <activity
            android:name=".UploadDocument2"
            android:label="Upload Documents" />
        <activity
            android:name=".Myapplication"
            android:label="@string/title_activity_myapplication" />
        <activity android:name=".hl_city" />
        <activity android:name=".hl_need" />
        <activity android:name=".hl_salaried2" />
        <activity android:name=".hl_coappldetails" />
        <activity android:name=".hl_need1" />
        <activity android:name=".hl_need2" />
        <activity android:name=".hl_need3" />
        <activity android:name=".hl_need4" />
        <activity android:name=".hl_need5" />
        <activity android:name=".hl_need6" />
        <activity android:name=".hl_need8" />
        <activity android:name=".hl_need7" />
        <activity android:name=".hl_empType" />
        <activity android:name=".hl_coappldetailsSal" />
        <activity android:name=".hl_coappldetailsbuss" />
        <activity android:name=".hl_coappldetailsProff" />
        <activity android:name=".pl_need" />
        <!--
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider588436571304022"
            android:exported="true" />
        -->
        <activity android:name=".lp_ownsh" />
        <activity
            android:name=".coappldetail"
            android:label="@string/title_activity_coappldetail" >
        </activity>
        <!-- <activity android:name=".lp_ownsh" /> -->
        <activity android:name=".lp_bal_tranf" />
        <activity android:name=".lp_bal_tranf_yes" />
        <activity
            android:name=".CarCompare"
            android:label="@string/title_activity_car_compare" >
        </activity>
    </application>

</manifest>
