<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gullakh.gullakhandroid">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreensActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label=" Home"/>
        <activity android:name=".RegisterPageActivity"
            android:screenOrientation="portrait"
            android:label="Sign Up"/>
        <activity android:name=".GoogleCardsMediaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StickyListHeadersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LogInPageActivity"
            android:screenOrientation="portrait"
                  android:label="Login Page"/>
        <activity android:name=".Personalloan"
            android:screenOrientation="portrait"
                  android:label="Personal Loan" />
        <activity android:name=".Personalloan1Activity"
            android:screenOrientation="portrait"
                  android:label="Personal Loan"/>
        <activity android:name=".MyProfileActivity"
            android:screenOrientation="portrait"
            android:label="My Profile "/>
        <activity android:name=".WheelViewActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ListView_Click"
            android:screenOrientation="portrait"
            />
        <activity android:name=".LocationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Questionier"
            android:screenOrientation="portrait"
            />
    </application>
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
