<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gullakh.gullakhandroid" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gullakh_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gullakh.gullakhandroid.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gullakh.gullakhandroid.RegisterPageActivity"
            />
        <activity
            android:name="com.gullakh.gullakhandroid.GoogleCardsMediaActivity"
            />
        <activity
            android:name="com.gullakh.gullakhandroid.StickyListHeadersActivity"
            />
        <activity
            android:name="com.gullakh.gullakhandroid.LogInPageActivity"
            />

    </application>

</manifest>
